@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

#root {
    height: 200vh;
}

body {
    font-family: "Poller One", serif;
    background-image: url("./assets/sky.jpg");
    color: #eedb00;
    background-attachment: fixed;
}

header, footer {
    background-color: rgba(60, 69, 67, 0.6);
}

.btn-danger {
    border: 2px solid black;
    background-color: rgba(204, 3, 35, 0.5);
    color: #eedb00;
}

.border {
    border-color: #eedb00 !important;
}